<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js" defer></script>
</head>
<body>
    <div class="result-container">
        <table class="table" id="main-table-result">
            <caption>Rezultati pretrage</caption>
            <div id="response"></div>
            <thead>
                <tr>
                    <th>Dan</th>
                    <th>Vreme</th>
                    <th>Meteorološka<br/>stanica</th>
                    <th>Temperatura<br/><span>(°C)</span></th>
                    <th>Subjektivni<br/> osećaj<br/>temperature<br/><span>(°C)</span></th>
                    <th>Pritisak<br/><span>(hPA)</span></th>
                    <th>Vlažnost<br/><span>(%)</span></th>
                    <th>Pravac<br/>vetra</th>
                    <th>Brzina<br/>vetra<br/><span>(m/s)</span></th>
                    <th>Opis<br/>vremena</th>
                </tr>
            </thead>
            <tbody class="search-result"><% resultFiltered.forEach(item => { %>
                <tr class="one-row">
                    <td class="cell" data-label="Dan"><%= item["Date"].toLocaleDateString("sr-SR") %></td>
                    <td class="cell" data-label="Vreme"><%= item["Time"].slice(0, 2) + ":" + item["Time"].slice(2, 4) %></td>
                    <td class="cell" data-label="Meteorološka stanica"><%= item["Stanica"] %></td>
                    <td class="cell" data-label="Temperatura (°C)"><%= item["Temperatura(°C)"] %></td>
                    <td class="cell" data-label="Subjektivno (°C)"><%= item["Subjektivniosećajtemperature(°C)"] %></td>
                    <td class="cell" data-label="Pritisak (hPa)"><%= item["Pritisak(hPa)"] %></td>
                    <td class="cell" data-label="Vlažnost (%)"><%= item["Vlažnost(%)"] %></td>
                    <td class="cell" data-label="Pravac vetra"><%= item["Pravacvetra"] %></td>
                    <td class="cell" data-label="Brzina vetra (m/s)"><%= item["Brzinavetra(m/s)"] %></td>
                    <td class="cell" data-label="Opis vremena"><%= item["Opisvremena"] %></td>
                </tr>
                <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10"><p>Ukupno  <span><%= resultLength %></span>  dokumenata pronađeno.</p></th>
                </tr>
            </tfoot>
        </table>
        <div class="btn-wrapper">
            <button id="htmlToExcelMain">Download as <span>Excel</span></button>
            <button type="submit" id="htmlToCSVMain">Download as <span>CSV</span></button>
            <button id="btnChartMain">Create a <span>Chart</span></button>
        </div>
        <table class="table" id="percentage">
                <tr>
                    <th>Opis vremena</th>
                    <th>Ukupno sati</th>
                    <th>Pravac vetra</th>
                    <th>Ukupno sati</th>
                </tr>
                <tr>
                    <td>Vedro</td>
                    <td><%= opis["Vedro"] %></td>
                    <td>Severni (N)</td>
                    <td><%= pravac["N"] %></td>
                </tr>
                <tr>
                    <td>Pretežno vedro</td>
                    <td><%= opis["Pretežno vedro"] %></td>
                    <td>Severni-severoistočni (NNE)</td>
                    <td><%= pravac["NNE"] %></td>
                </tr>
                <tr>
                    <td>Delimično oblačno</td>
                    <td><%= opis["Delimično oblačno"] %></td>
                    <td>Severoistočni (NE)</td>
                    <td><%= pravac["NE"] %></td>
                </tr>
                <tr>
                    <td>Pretežno oblačno</td>
                    <td><%= opis["Pretežno oblačno"] %></td>
                    <td>Istočni-severoistočni (ENE)</td>
                    <td><%= pravac["ENE"] %></td>
                </tr>
                <tr>
                    <td>Oblačno</td>
                    <td><%= opis["Oblačno"] %></td>
                    <td>Istočni (E)</td>
                    <td><%= pravac["E"] %></td>
                </tr>
                <tr>
                    <td>Rosulja (sipeća kiša)</td>
                    <td><%= opis["Rosulja (sipeća kiša)"] %></td>
                    <td>Istočni-jugoistočni (ESE)</td>
                    <td><%= pravac["ESE"] %></td>
                </tr>
                <tr>
                    <td>Slaba kiša</td>
                    <td><%= opis["Slaba kiša"] %></td>
                    <td>Jugoistočni (SE)</td>
                    <td><%= pravac["SE"] %></td>
                </tr>
                <tr>
                    <td>Umerena kiša</td>
                    <td><%= opis["Umerena kiša"] %></td>
                    <td>Južni-jugoistočni (SSE)</td>
                    <td><%= pravac["SSE"] %></td>
                </tr>
                <tr>
                    <td>Jaka kiša</td>
                    <td><%= opis["Jaka kiša"] %></td>
                    <td>Južni (S)</td>
                    <td><%= pravac["S"] %></td>
                </tr>
                <tr>
                    <td>Pljusak kiše</td>
                    <td><%= opis["Pljusak kiše"] %></td>
                    <td>Južni-jugozapadni (SSW)</td>
                    <td><%= pravac["SSW"] %></td>
                </tr>
                <tr>
                    <td>Grmljavina</td>
                    <td><%= opis["Grmljavina"] %></td>
                    <td>Jugozapadni (SW)</td>
                    <td><%= pravac["SW"] %></td>
                </tr>
                <tr>
                    <td>Grmljavina sa kišom</td>
                    <td><%= opis["Grmljavina sa kišom"] %></td>
                    <td>Zapadni-jugozapadni (WSW)</td>
                    <td><%= pravac["WSW"] %></td>
                </tr>
                <tr>
                    <td>Susnežica</td>
                    <td><%= opis["Susnežica"] %></td>
                    <td>Zapadni (W)</td>
                    <td><%= pravac["W"] %></td>
                </tr>
                <tr>
                    <td>Slab sneg</td>
                    <td><%= opis["Slab sneg"] %></td>
                    <td>Zapadni-severozapadni (WNW)</td>
                    <td><%= pravac["WNW"] %></td>
                </tr>
                <tr>
                    <td>Umeren sneg</td>
                    <td><%= opis["Umeren sneg"] %></td>
                    <td>Severozapadni (NW)</td>
                    <td><%= pravac["NW"] %></td>
                </tr>
                <tr>
                    <td>Jak sneg</td>
                    <td><%= opis["Jak sneg"] %></td>
                    <td>Severni-severozapadni (NNW)</td>
                    <td><%= pravac["NNW"] %></td>
                </tr>
                <tr>
                    <td>Pljusak snega</td>
                    <td><%= opis["Pljusak snega"] %></td>
                    <td>Tiho (bez vetra)</td>
                    <td><%= pravac["-"] %></td>
                </tr>
                <tr>
                    <td>Sumaglica</td>
                    <td><%= opis["Sumaglica"] %></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Magla</td>
                    <td><%= opis["Magla"] %></td>
                    <td class="stats lepoVreme">Lepo vreme <span>(bez padavina i magle)</span></td>
                    <td id="lepoVreme" class="stats lepoVreme"></td>
                </tr>
                <tr>
                    <td>Bez podataka</td>
                    <td><%= opis["-"] %></td>
                    <td class="stats tiho">Tiho <span>(bez vetra)</span></td>
                    <td id="tiho" class="stats tiho"></td>
                </tr>
        </table>
        <div class="btn-wrapper">
            <button id="htmlToExcelPercentage">Download as <span>Excel</span></button>
            <button type="submit" id="htmlToCSVPercentage">Download as <span>CSV</span></button>
            <button id="btnChartPercentage">Create a <span>Chart</span></button>
        </div>
    </div>
    <%- include("./partials/gotopbtn.ejs") %>
</body>

<script type="module">
import exportTableToCSV from "./js/functions/tableToCSV.js";

const asExcelMain = document.getElementById("htmlToExcelMain");
asExcelMain.addEventListener("click", () => TableToExcel.convert(tableMain));
const asCSVMain = document.getElementById("htmlToCSVMain");
asCSVMain.addEventListener("click", () => (exportTableToCSV(tableMain, "searchResult.csv")));
const tableMain = document.getElementById("main-table-result");
const asExcelPercentage = document.getElementById("htmlToExcelPercentage");
const asCSVPercentage = document.getElementById("htmlToCSVPercentage");
const tablePercentage = document.getElementById("percentage");
asExcelPercentage.addEventListener("click", () => TableToExcel.convert(tablePercentage));
asCSVPercentage.addEventListener("click", () => (exportTableToCSV(tablePercentage, "percentage.csv")));
const response = document.getElementById("response");
response.addEventListener("click", disappear);
function disappear(ev) {
    ev.target.style.display = "none";
}

document.addEventListener("DOMContentLoaded", init);


const opisVremenaLabels = ["Vedro", "Pretežno vedro", "Delimično oblačno", "Pretežno oblačno", "Oblačno", "Rosulja(sipeća kiša)", "Slaba kiša", "Umerena kiša", "Jaka kiša", "Pljusak kiše", "Grmljavina", "Gramljavina sa kišom", "Susnežica", "Slab sneg", "Umeren sneg", "Jak sneg", "Pljusak snega", "Sumaglica", "Magla", "-"];
const opisArr = [`<%= opis["Vedro"] %>`, `<%= opis["Pretežno vedro"] %>`, `<%= opis["Delimično oblačno"] %>`, `<%= opis["Pretežno oblačno"] %>`, `<%= opis["Oblačno"] %>`, `<%= opis["Rosulja (sipeća kiša)"] %>`, `<%= opis["Slaba kiša"] %>`, `<%= opis["Umerena kiša"] %>`, `<%= opis["Jaka kiša"] %>`, `<%= opis["Pljusak kiše"] %>`, `<%= opis["Grmljavina"] %>`, `<%= opis["Grmljavina sa kišom"] %>`, `<%= opis["Susnežica"] %>`, `<%= opis["Slab sneg"] %>`, `<%= opis["Umeren sneg"] %>`, `<%= opis["Jak sneg"] %>`, `<%= opis["Pljusak snega"] %>`, `<%= opis["Sumaglica"] %>`, `<%= opis["Magla"] %>`, `<%= opis["-"] %>`];

const pravacVetraLabels = ["N", "NNE", "NE", "ENE", "E", "ESE", "SE", "SSE", "S", "ŞSW", "SW", "WSW", "W", "WNW", "NW", "NNW", "-"];
const pravacArr = [`<%= pravac["N"] %>`, `<%= pravac["NNE"] %>`, `<%= pravac["NE"] %>`, `<%= pravac["ENE"] %>`, `<%= pravac["E"] %>`, `<%= pravac["ESE"] %>`, `<%= pravac["SE"] %>`, `<%= pravac["SSE"] %>`, `<%= pravac["S"] %>`, `<%= pravac["SSW"] %>`, `<%= pravac["SW"] %>`, `<%= pravac["WSW"] %>`, `<%= pravac["W"] %>`, `<%= pravac["WNW"] %>`, `<%= pravac["NW"] %>`, `<%= pravac["NNW"] %>`, `<%= pravac["-"] %>`];

function init() {
    const labels = [];
    const btnChartMain = document.getElementById("btnChartMain");
    btnChartMain.addEventListener("click", popupMain);
    const btnChartPercentage = document.getElementById("btnChartPercentage");
    btnChartPercentage.addEventListener("click", popupPercentage);
    document.getElementById("lepoVreme").innerText = ((+`<%= opis["Vedro"] %>` + +`<%= opis["Pretežno vedro"] %>` + +`<%= opis["Delimično oblačno"] %>` + +`<%= opis["Pretežno oblačno"] %>` + +`<%= opis["Oblačno"] %>` ) * 100 / (`<%= resultLength %>` - `<%= opis["-"] %>`)).toFixed(2) + " %";
    document.getElementById("tiho").innerText = (`<%= pravac["-"] %>` * 100 / `<%= resultLength %>`).toFixed(2) + " %";
}

window.addEventListener("message", (event) => {
    event.preventDefault();
    if (event.data?.msg) {
        response.innerHTML = event.data.msg;
    } else {
        response.innerText = "";
    }
}); 

function popupMain() {
    const popupWindow = window.open("chart.html", "chart", "fullscreen");
    if (popupWindow.outerWidth < screen.availWidth || popupWindow.outerHeight < screen.availHeight) {
        popupWindow.moveTo(0, 0);
        popupWindow.resizeTo(screen.availWidth, screen.availHeight);
    }
    const data1 = JSON.parse(JSON.stringify(`<%= dateTimeArray %>`));
    const data2 = JSON.stringify(`<%= tempArr %>`);
    const data3 = JSON.parse(JSON.stringify(`<%= subjArr %>`));
    const data4 = JSON.parse(JSON.stringify(`<%= vlagaArr %>`));
    const data5 = JSON.parse(JSON.stringify(`<%= pritArr %>`));
    const data6 = (JSON.stringify(`<%= vetarArr %>`));
    setTimeout(() => {
        popupWindow.postMessage({ station: `<%= resultFiltered[0].Stanica %>`, day: `<%= resultFiltered[0].Date.toLocaleDateString("sr-SR") %>`, labels: data1, temp: data2, subjTemp: data3, hum: data4, prit: data5, bVetra: data6 }, "*");
    }, 1000)
  }

function popupPercentage() {
    const popupWindow = window.open("chart3.html", "chart", "fullscreen");
    if (popupWindow.outerWidth < screen.availWidth || popupWindow.outerHeight < screen.availHeight) {
        popupWindow.moveTo(0, 0);
        popupWindow.resizeTo(screen.availWidth, screen.availHeight);
    }
    const dateArraySize = new Set(`<%= dateArray %>`.split(",")).size;
    setTimeout(() => {
        popupWindow.postMessage({ station: `<%= resultFiltered[0].Stanica %>`, day: `<%= resultFiltered[0].Date.toLocaleDateString("sr-SR") %>`, opisVremenaLabels, opisArr, pravacVetraLabels, pravacArr, dateArraySize }, "*");
    }, 1000)
}
 
</script>
</html>